---
import Layout from '../layouts/Layout.astro';
import Topbar from '../components/Topbar.astro';
import Navbar from '../components/Navbar.astro';
import Hero from '../components/Hero.astro';
import About from '../components/About.astro';
import Experience from '../components/Experience.astro';
import Projects from '../components/Projects.astro';
import Skills from '../components/Skills.astro';
import KnowledgeGraph from '../components/KnowledgeGraph.astro';
import Contact from '../components/Contact.astro';
import Footer from '../components/Footer.astro';
---

<Layout>
  <Topbar />
  <Navbar />
  <main>
    <Hero />
    <About />
    <Experience />
    <Projects />
    <Skills />
    <KnowledgeGraph />
    <Contact />
  </main>
  <Footer />
</Layout>
